/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

header{
    background-color: darkgreen;
    padding: 20px;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: darkolivegreen;
    margin-bottom: 50px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: green;
}

footer{
    color: #333;
    background-color: #ccc ;
    text-align: center;
    clear: both;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a{
    background-color: blue;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: #2e64a1;
    font-weight: 400;
}

.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios{
    width: 25%;
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.bienvenidos .p{
    font-size: 20px;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

.historia p{
    font-size: 12px;
}

.personas{
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5,
.persona h6{
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    font-size: 11px;
    font-style: italic;
}

.persona p{
    color: #666;
    font-size: 10px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img{
    width: 18%;
    border: 1px solid #ddd;
    padding: 0.3em;
    margin-bottom: 20px;
    margin-right: 2%;
    box-sizing: border-box;
}

.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
}

.formulario p label {
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input [type="submit"] {
    background: #6da96d;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.formulario input [type="submit"]:hover {
    background: #2e64a1;
    
}